DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=127.0.0.1
DB_PORT=3306
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client-secret_here

#bakong 
BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1
BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1
BAKONG_ACCOUNT_USERNAME=yaing_kharin@bkrt
BAKONG_MERCHANT_ID=YOUR_BAKONG_MERCHANT_ID #Optional
BAKONG_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiZjBkZDY3NjQ4OWFhNGU0MyJ9LCJpYXQiOjE3NzM1MDI1MTgsImV4cCI6MTc4MTI3ODUxOH0.leHCIKr26xENItS4NYhR5N-qnxGWCDuX80w_DspfxGc