# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env

# Django
*.log
db.sqlite3

# Static files
/static/

# Media files
/media/

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor
.idea/
.vscode/
*.swp
